* {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

.header {
  background-color: rgb(86, 187, 241);
  color: #ffffff;
  height: 120px;
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
}

.body {
  padding: 0px;
  margin: 0px;
}

.header-logo {
  float: left;
}

.header-logo h2 {
  color: rgb(74, 74, 74);
  margin-top: 37px;
  margin-left: 50px;
  font-size: 40px;
  float: left;
  font-family: 'M PLUS 1p', sans-serif;
}

img.logotata {
  height: 50px;
  width: 50px;
  float: left;
  padding: 15px;
  padding-top: 19px;
}

.header-list {
  background-color: rgb(186, 227, 249);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding: 12px;
  padding-right: 10px;
  height: 40px;
}

.header-list li {
  float: left;
  color: black;
  padding-right: 20px;
  font-size: 20px;
  transition: color 0.2s;
  float: left;
  padding-right: 20px;
  padding-left: 13px;
}

.header-list li:hover {
  color: rgb(245, 162, 0);
}

.header-li-back {
  background-color: rgb(186, 227, 249);
}

main {
  height: 1000px;
  padding: 100px 80px;
}

.oshirase h1 {
  font-size: 45px;
  font-family: 'Sawarabi Gothic', sans-serif;
  border-bottom: dotted 5px rgb(190, 200, 255);
  padding-left: 40px;
}

.footer {
  background-color: rgba(0, 111, 188, 15);
  color: #fff;
  height: 260px;
  width: 100%;
}

.footer-logo {
  font-size: 70px;
  padding: 50px 70px;
  float: left;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}
.footer-list {
  float: right;
  font-family: 'Noto Sans JP', sans-serif;
}
.footer-list li {
  float: left;
  padding-top: 90px;
  padding-right: 45px;
  font-size: 22px;
}
.footer-list li a {
  color: white;
}

.list:hover{
  color: rgb(245, 162, 0);
  transition: 0.2s;
}
